.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}
img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
}
